apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "custom-charts.fullname" . }}
  labels:
    {{- include "custom-charts.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "custom-charts.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "custom-charts.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.name }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet: 
              path: /
              port: http
